.settings-wrap {
  --main-theme-color: var(--pink);
  --hot-theme-color: var(--hot-pink);
  --header-text-color: var(--white);
  --scroller-radius: 7px;
  color: #fff;
  font-size: 1.2rem;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
  min-width: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}

.section-enabler-disabled {
  opacity: 0.5;
  cursor: default;
}

.settings-disabled {
  pointer-events: none;
  opacity: 0.5;
}
